
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">

            <!-- 左侧菜单标题 Title on left bar-->
            <div class="navbar nav_title" style="border: 0;">
              <a href="/index" class="site_title"><i class="fa fa-paw"></i> <span>EzSchedule</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- 左侧菜单用户信息 User information on left bar-->
            <div class="profile clearfix">
              <div class="profile_info">
                <h2>Welcome, {{ username }}</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
            <!-- 一级目录 -->
                <h3 style="font-size:120%;">Main</h3>
                <ul class="nav side-menu">
            <!-- 三级菜单 -->
                  <li><a href="/index">Dashboard</a></li>
                  <li><a href="/form/appointment">Appointment</a></li>
                  <li><a href="/service">Customer Service</a></li>
                </ul>
                <br>
                <br>

                <h3 style="font-size:120%;">Tools</h3>
                <ul class="nav side-menu">
                  <li><a href="voice">Voice Helper</a></li>
                </ul>
              </div>
            </div>

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>